<a href="https://colab.research.google.com/github/sahernandezr/Liri/blob/master/random_selector.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Make random groups with n members each
* Get a list of student names
* Get how many members each group should have (do I want pairs? trios? quintets?)
* Define how many groups I can make
* Fill each groups with random students
* Manage remainder students, if any
* Print out the list of groups

In [ ]:
students = ['André', 'Arantxa', 'Diego','Emi','Irina','Juan Carlos','Maya','Moni','Pedro','Raúl','Ti','Zoé']
n = 2

In [ ]:
number_of_groups = len(students)/n
number_of_groups

5.5

In [ ]:
number_of_groups = int(len(students)/n)
number_of_groups

5

In [ ]:
len(students)

11

In [ ]:
students[5]

'Karla'

In [ ]:
import random #a module included in Python https://docs.python.org/3/library/random.html
for i in range(8):
    x = random.randint(0,8)
    print(x)

1
2
0
6
3
3
8
3

In [ ]:
group=[]
for i in range(n):
    x = random.randint(0,len(students)-1)
    group.append(students[x])
    students.remove(students[x])
group

['Emilia', 'Zoé']

In [ ]:
groups_list = []
for j in range(number_of_groups):
    group=[]
    for i in range(n):
        x = random.randint(0,len(students)-1)
        group.append(students[x])
        students.remove(students[x])
    groups_list.append(group)
groups_list

[['Brianda', 'Juan Carlos'],
 ['Diego', 'Raúl Abraham'],
 ['Pedro', 'André'],
 ['Karla', 'Irina Marcela'],
 ['Zoé', 'Moni']]

In [ ]:
students = ['André', 'Brianda', 'Diego', 'Emilia', 'Juan Carlos', 'Karla', 'Moni', 'Pedro', 'Raúl Abraham', 'Irina Marcela', 'Zoé']

In [ ]:
def make_groups(students, n):
    number_of_groups = int(len(students)/n)
    groups_list = []
    for j in range(number_of_groups):
        group=[]
        for i in range(n):
            x = random.randint(0,len(students)-1)
            group.append(students[x])
            students.remove(students[x])
        groups_list.append(group)
    if len(students)!=0:
        print('uneven!')
        for k in range(len(students)):
            groups_list[k].append(students[k])
    return groups_list

In [ ]:
make_groups(students,2)

uneven!

[['Diego', 'Raúl Abraham', 'André'],
 ['Pedro', 'Irina Marcela'],
 ['Karla', 'Zoé'],
 ['Emilia', 'Brianda'],
 ['Juan Carlos', 'Moni']]

In [ ]:
students = ['André', 'Brianda', 'Diego', 'Emilia', 'Juan Carlos', 'Karla', 'Moni', 'Pedro', 'Raúl Abraham', 'Irina Marcela', 'Zoé']
groups_list=[]

In [ ]:
for i in range(number_of_groups):
    group = random.sample(students,n)
    groups_list.append(group)
groups_list

[['Irina Marcela', 'Diego'],
 ['Karla', 'Emilia'],
 ['Emilia', 'Pedro'],
 ['Karla', 'André'],
 ['Irina Marcela', 'Raúl Abraham']]

In [ ]:
for i in range(number_of_groups):
    group = random.sample(students,n)
    groups_list.append(group)
    students.remove(group[0])
    students.remove(group[1])
groups_list

[['Karla', 'Raúl Abraham'],
 ['Brianda', 'Juan Carlos'],
 ['Irina Marcela', 'Pedro'],
 ['Diego', 'Moni'],
 ['Emilia', 'André']]